@black: #191E27;
@text: #828282;

*,*:before,*:after{
	box-sizing: inherit;
}
.unlist{
	list-style: none;
	padding: 0;
	margin: 0;
}
html{
	box-sizing: border-box;
	/*для простого использования rem в качестве относительной единицы измерения вместо px*/
	/*макет отрисован на 320px ширины, в таком случае 1rem для удобства соответствует 1px в макете*/
	font-size: 1vw/3.2;
}
body{
	margin: 0;
	padding: 50rem 0 0;
	min-height: 100vh;
	color: @text;
	font-family: Montserrat,sans-serif;
	font-size: 14rem;
	line-height: 1.56;
	font-weight: 500;
	display: flex;
	flex-direction: column;
}
main{
	flex: 1 1 auto;
}
p{
	margin: 0 0 30em/14;
	&:last-child{
		margin-bottom: 0;
	}
}
a{
	color: @black;
}
img,video,iframe{
	vertical-align: top;
	max-width: 100%;
}
h1,h2{
	font-weight: bold;
	line-height: normal;
	font-style: italic;
	font-family: Georgia,sans-serif;
	color: @black;
}
h1{
	font-size: 24rem;		
	margin: 0 0 30em/24;
	&:last-child{
		margin-bottom: 0;
	}
}
h2{
	font-size: 20rem;
	margin: 0 0 26em/20;
	&:last-child{
		margin-bottom: 0;
	}
}
h3{
	font-size: 14rem;
	line-height: normal;
	font-weight: bold;
	color: @black;
	margin: 0 0 1em;
	&:last-child{
		margin-bottom: 0;
	}
	a{
		text-decoration: none;
		border-bottom: 1rem dashed;
	}
}
h4{
	color: @black;
	margin: 0 0 1em;
	font: inherit;
	&:last-child{
		margin-bottom: 0;
	}
}
[type=text],
[type=tel],
[type=email],
[type=password],
[type=url],
[type=date],
textarea{
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: 14rem;
	line-height: normal;
	border: 1rem solid #BDBDBD;
	border-radius: 3rem;
	padding: 10rem 15rem;
	margin: 0 0 11rem;
	color: @black;
	min-width: 0;
	&:focus{
		outline: none;
		border-color: @black;
	}
}
[type=checkbox]{
	appearance: none;
	display: inline-block;
	width: 18rem;
	height: 18rem;
	border: 1rem solid #BDBDBD;
	border-radius: 3rem;
	flex: 0 0 auto;
	margin: 0 10rem 0 0;
	background-color: #fff;
	color: transparent;
	font: normal normal 13rem/16rem icomoon;
	text-align: center;
	&:checked{
		color: @black;
	}
	&:focus{
		outline: none;
	}
	&:before{
		content: '\e917';
	}
}
[type=radio]{
	appearance: none;
	display: inline-block;
	width: 16rem;
	height: 16rem;
	border: 1rem solid #BDBDBD;
	border-radius: 50%;
	padding: 4px;
	flex: 0 0 auto;
	&:checked{
		background-color: @black;
		background-clip: content-box;
	}
	&:focus{
		outline: none;
	}
}
select{
	appearance: none;
	display: block;
	width: 100%;
	margin: 0 0 11rem;
	font-size: 14rem;
	font-family: inherit;
	line-height: normal;
	border: 1rem solid #BDBDBD;
	border-radius: 3rem;
	padding: 10rem 15rem;
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxwYXRoIGQ9Ik00IDZMMC41MzU4OTggNi41MjUzM2UtMDdMNy40NjQxIDQuNjg0OTdlLTA4TDQgNloiIGZpbGw9IiNCREJEQkQiLz48L3N2Zz4K) no-repeat right 7rem center/8rem auto;
	&::-ms-expand{
		display: none;
	}
	&:focus{
		outline: none;
		border-color: @black;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxwYXRoIGQ9Ik00IDZMMC41MzU4OTggNi41MjUzM2UtMDdMNy40NjQxIDQuNjg0OTdlLTA4TDQgNloiIGZpbGw9IiMxOTFFMjciLz48L3N2Zz4K);
	}
}
@supports(-moz-appearance: textfield){
	select{
		padding: 9rem 15rem;
	}		
}
.number-field{
	display: inline-flex;
	align-items: center;
	&__btn{
		display: inline-block;
		color: #BDBDBD;
		width: 25rem;
		height: 25rem;
		border: 1.5rem solid;
		text-align: center;
		line-height: 22rem;
		font-size: 16rem;
		flex: 0 0 auto;
		border-radius: 50%;
		user-select: none;
	}
	&__input{
		border: none;
		padding: 5rem 0;
		width: 55rem;
		text-align: center;
		margin: 0;
	}
}
.field{
	display: flex;
	flex-direction: column;
	margin: 0 0 11rem;
	&--date{
		max-width: 176rem;
	}
	&__label{
		display: block;
		width: 100%;
		font-size: 12rem;
		line-height: normal;
		margin: 0 0 5rem;
	}
	&__input{
		margin: 0;
		width: 100%;
		order: 1;
	}
	&__input:focus + &__label{
		color: @black;
		font-weight: 600;
	}
	&__message{
		font-size: 12rem;
		line-height: normal;
		color: #BDBDBD;
		margin-top: 13rem;
		order: 2;
	}
}
.multifield{
	display: flex;
	align-items: flex-start;
	>*{
		flex: 1 1 auto;
		margin-right: 12rem;
		&:last-child{
			margin-right: 0;
		}
	}
}
.double-field{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	>*{
		width: ~"calc(50% - 12.5rem)";
	}
}
	
//таблицы
.table-wrapper{
	max-width: ~"calc(100% + 40rem)";
	margin: 0 -20rem;
	padding: 0 20rem;
	overflow: auto;
}
table{
	width: 100%;
	border-collapse: collapse;
	color: @black;
	line-height: 1.463;	
	p{
		margin: 0;
	}
}
td,th{
	font-weight: inherit;
	text-align: inherit;
	vertical-align: middle;
	border: 1rem solid #BDBDBD;
	padding: 13rem;
}
thead{
	th{
		border: none;
		font-size: 12rem;
		line-height: normal;
		color: #828282;
		padding: 7rem 0;
	}
}
.wrapper{
	padding: 0 20rem;
}
.loader{
	display: block;
	width: 28rem;
	margin: 27rem auto
}
@media(orientation: landscape){
	html{
		font-size: 1vh/3.2;
	}
}

@import "blocks/_buttons";
@import "blocks/_header";
@import "blocks/_breadcrumbs";
@import "blocks/_blog";
@import "blocks/_post";
@import "blocks/_banner";
@import "blocks/_shop-menu";
@import "blocks/_actions";
@import "blocks/_good-card";
@import "blocks/_category-block";
@import "blocks/_brand-card";
@import "blocks/_brands-block";
@import "blocks/_subscribe";
@import "blocks/_about";
@import "blocks/_advantages";
@import "blocks/_ad";
@import "blocks/_pagination";
@import "blocks/_catalog";
@import "blocks/_page-head";
@import "blocks/_favourites-btn";
@import "blocks/_gift-card";
@import "blocks/_gift-cards";
@import "blocks/_card-page";
@import "blocks/_brands-page";
@import "blocks/_brand-page";
@import "blocks/_categories";
@import "blocks/_gallery";
@import "blocks/_discount";
@import "blocks/_good";
@import "blocks/_good-block";
//для боьшинства блоков корзины
@import "blocks/_order";
//для боьшинства блоков личного кабинета
@import "blocks/_account";
@import "blocks/_footer";