*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.unlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*для простого использования rem в качестве относительной единицы измерения вместо px*/
  /*макет отрисован на 320px ширины, в таком случае 1rem для удобства соответствует 1px в макете*/
  font-size: 0.3125vw;
}
body {
  margin: 0;
  padding: 50rem 0 0;
  min-height: 100vh;
  color: #828282;
  font-family: Montserrat, sans-serif;
  font-size: 14rem;
  line-height: 1.56;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
p {
  margin: 0 0 2.14285714em;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: #191e27;
}
img,
video,
iframe {
  vertical-align: top;
  max-width: 100%;
}
h1,
h2 {
  font-weight: bold;
  line-height: normal;
  font-style: italic;
  font-family: Georgia, sans-serif;
  color: #191e27;
}
h1 {
  font-size: 24rem;
  margin: 0 0 1.25em;
}
h1:last-child {
  margin-bottom: 0;
}
h2 {
  font-size: 20rem;
  margin: 0 0 1.3em;
}
h2:last-child {
  margin-bottom: 0;
}
h3 {
  font-size: 14rem;
  line-height: normal;
  font-weight: bold;
  color: #191e27;
  margin: 0 0 1em;
}
h3:last-child {
  margin-bottom: 0;
}
h3 a {
  text-decoration: none;
  border-bottom: 1rem dashed;
}
[type=text],
[type=tel],
[type=email],
[type=password],
[type=url],
textarea {
  display: block;
  width: 100%;
  font-size: 14rem;
  line-height: normal;
  border: 1rem solid #BDBDBD;
  border-radius: 3rem;
  padding: 11rem 18rem;
  margin: 0 0 11rem;
  color: #191e27;
}
[type=text]:focus,
[type=tel]:focus,
[type=email]:focus,
[type=password]:focus,
[type=url]:focus,
textarea:focus {
  outline: none;
  border-color: #191e27;
}
.table-wrapper {
  max-width: calc(100% + 40rem);
  margin: 0 -20rem;
  padding: 0 20rem;
  overflow: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  color: #191e27;
  line-height: 1.463;
}
table p {
  margin: 0;
}
td,
th {
  font-weight: inherit;
  text-align: inherit;
  vertical-align: middle;
  border: 1rem solid #BDBDBD;
  padding: 13rem;
}
thead th {
  border: none;
  font-size: 12rem;
  line-height: normal;
  color: #828282;
  padding: 7rem 0;
}
.wrapper {
  padding: 0 20rem;
}
@media (orientation: landscape) {
  html {
    font-size: 0.3125vh;
  }
}
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  border: 1rem solid #191e27;
  vertical-align: top;
  padding: 0 24rem;
  background-color: #191e27;
  color: #fff;
  font-size: 16rem;
  font-weight: 500;
  line-height: 50rem;
  text-align: center;
  border-radius: 3rem;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn--thin {
  background-color: transparent;
  color: #191e27;
}
.btn--cart:before {
  content: '\e911';
  font-family: icomoon;
  font-size: 1.1875em;
  vertical-align: bottom;
  margin: 0 0.8125em 0 -0.625em;
}
.btn--heart:before {
  content: '\e91d';
  font-family: icomoon;
  font-size: 1.1875em;
  vertical-align: bottom;
  margin: 0 0.8125em 0 -0.625em;
}
.btn--block {
  display: block;
  width: 100%;
  padding: 0 10rem;
}
.header {
  padding: 10.17rem 0;
  background-color: #fff;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.15);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-btn {
  font-size: 20rem;
  color: #191E27;
}
.header__logo {
  display: inline-block;
  width: 29rem;
  max-width: 100%;
  margin: 0 0 0 11.44rem;
}
.header__logo--alt {
  width: 89rem;
  margin-right: auto;
}
.header__logo img {
  display: block;
  width: 100%;
}
.header__tool {
  color: #828282;
  margin: 0 0 0 19rem;
  text-decoration: none;
}
.header__tool--active {
  color: #191e27;
}
.breadcrumbs {
  padding: 22rem 0 30rem;
  overflow: auto;
  white-space: nowrap;
  font-size: 12rem;
  line-height: normal;
  color: #BDBDBD;
}
.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.breadcrumbs__list > li > a {
  color: inherit;
  text-decoration: none;
}
.breadcrumbs__list > li:after {
  content: '\e90d';
  font-size: 0.83333333em;
  font-family: icomoon;
  margin: 0 1em;
}
.breadcrumbs__list > li:last-child:after {
  visibility: hidden;
}
.blog {
  padding: 0 0 70rem;
}
.blog__loader {
  display: block;
  margin: 0 auto;
  width: 28rem;
}
.post-card {
  margin: 0 0 40rem;
}
.post-card:last-child {
  margin-bottom: 0;
}
.post-card__date {
  color: #828282;
  margin: 0 0 1.07142857em;
}
.post-card__img {
  display: block;
  width: 100%;
  margin: 0 0 20rem;
}
.post-card__text {
  margin: 0 0 20rem;
}
.post-card__text:last-child {
  margin-bottom: 0;
}
.post-card__title {
  margin: 0 0 20rem;
}
.post-card__title:last-child {
  margin-bottom: 0;
}
.post-card__link {
  color: #333333;
}
.post {
  padding: 0 0 70rem;
}
.post--top-space {
  padding-top: 30rem;
}
.post__date {
  color: #828282;
  margin: 0 0 2.14285714em;
}
.post__btn {
  margin: 0 0 40rem;
}
.post__btn:last-child {
  margin-bottom: 0;
}
.banner {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 353rem;
  padding: 39rem 0;
}
.banner__title {
  font-size: 24rem;
  color: inherit;
}
.banner__logo {
  display: block;
  width: 100%;
  margin-left: -15rem;
}
.shop-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #191e27;
}
.shop-menu > li {
  border-bottom: 1rem solid #E0E0E0;
}
.shop-menu > li > a {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 20rem 40rem 20rem 20rem;
}
.shop-menu > li > a:after {
  content: '\e905';
  font-family: icomoon;
  line-height: 1;
  display: inline-block;
  font-size: 20rem;
  color: #BDBDBD;
  position: absolute;
  right: 20rem;
  top: calc(50% - .5em);
}
.actions {
  padding: 30rem 0;
}
.actions__item {
  margin: 0 0 30rem;
  font-size: 12rem;
  line-height: normal;
  color: #191e27;
}
.actions__item:last-child {
  margin-bottom: 0;
}
.actions__item-img {
  display: block;
  width: 100%;
  margin: 0 0 10rem;
}
.actions__item-title {
  margin: 0 0 1.5rem;
}
.actions__item-title:last-child {
  margin-bottom: 0;
}
.good-card {
  width: 130rem;
  margin: 0 5rem 30rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.good-card__head {
  position: relative;
  margin: 0 0 13rem;
}
.good-card__head:last-child {
  margin-bottom: 0;
}
.good-card__info {
  position: absolute;
  bottom: 4rem;
  right: -5rem;
}
.good-card__label {
  display: block;
  border-radius: 100vw;
  font-size: 9rem;
  border: 1rem solid #191e27;
  line-height: normal;
  padding: 3rem 8rem;
  font-weight: bold;
  color: #fff;
  background-color: #191e27;
  text-align: center;
  margin: 0 0 5rem;
}
.good-card__label:last-child {
  margin-bottom: 0;
}
.good-card__label--white {
  background-color: #fff;
  font-weight: 500;
  color: #191e27;
}
.good-card__favourites {
  position: absolute;
  top: 10rem;
  right: 10rem;
}
.good-card__img {
  display: block;
  width: 100%;
}
.good-card__title {
  font-size: inherit;
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-weight: inherit;
  color: #4F4F4F;
  line-height: normal;
  margin: 0 0 4rem;
  padding-right: .2em;
}
.good-card__title:last-child {
  margin-bottom: 0;
}
.good-card__category {
  font-size: 12rem;
  line-height: normal;
  color: #BDBDBD;
}
.good-card__main {
  margin: 0 0 8rem;
}
.good-card__main:last-child {
  margin-bottom: 0;
}
.good-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.good-card__price {
  display: inline-block;
  color: #191e27;
  font-size: 12rem;
  line-height: normal;
  padding: 4rem 0;
  margin: 0 7rem 0 0;
}
.good-card__price--new {
  padding-left: 7rem;
  padding-right: 7rem;
  border-radius: 10rem;
  color: #fff;
  background-color: #E9B4A3;
}
.good-card__price--old {
  text-decoration: line-through;
}
.category-block {
  padding: 20rem 0 0;
}
.category-block__head {
  font-size: 12rem;
  color: #828282;
  line-height: normal;
  margin: 0 0 25rem;
}
.category-block__title {
  font-size: 30rem;
  margin: 0 0 4rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding-right: 40rem;
  position: relative;
  word-wrap: break-word;
  color: #333333;
}
.category-block__title:last-child {
  margin-bottom: 0;
}
.category-block__title:after {
  content: '\e90e';
  display: inline-block;
  color: #191e27;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  font-family: icomoon;
  font-size: 17rem;
  line-height: 23rem;
  text-indent: -4.3rem;
  font-style: normal;
  font-weight: 400;
  background-color: rgba(233, 180, 163, 0.4);
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.category-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 -20rem;
  padding: 0 20rem;
  overflow: auto;
}
.brand-card {
  width: 180rem;
  height: 105rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
  margin: 0 10rem 15rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}
.brand-card--small {
  width: 130rem;
  height: 75.8rem;
}
.brand-card img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 70%;
  max-height: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .7;
}
.brands-block {
  padding: 30rem 0;
}
.brands-block__title {
  font-size: 30rem;
  margin: 0 0 0.8em;
  color: #333;
}
.brands-block__title:last-child {
  margin-bottom: 0;
}
.brands-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20rem;
  padding: 2rem 10rem 0;
  overflow: auto;
}
.subscribe {
  padding: 30rem 0;
  color: #707070;
  font-size: 12rem;
  line-height: 1.463;
}
.subscribe__title {
  color: #333;
  font-size: 30rem;
  margin: 0 0 18rem;
}
.subscribe__title:last-child {
  margin-bottom: 0;
}
.subscribe__text {
  margin: 0 0 20rem;
}
.subscribe__text:last-child {
  border-bottom: 0;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-right: none;
  margin: 0;
  border-radius: 5rem 0 0 5rem;
}
.subscribe__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #191e27;
  border: none;
  border-radius: 0 5rem 5rem 0;
  color: #fff;
  width: 50rem;
  line-height: 50rem;
  font-size: 23rem;
  padding: 0;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.about-block {
  padding: 40rem 0;
  color: #707070;
  font-size: 12rem;
  line-height: 1.463;
}
.about-block__title {
  font-size: 30rem;
  margin: 0 0 17rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding-right: 40rem;
  position: relative;
  word-wrap: break-word;
  color: #333333;
}
.about-block__title:last-child {
  margin-bottom: 0;
}
.about-block__title:after {
  content: '\e90e';
  display: inline-block;
  color: #191e27;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  font-family: icomoon;
  font-size: 17rem;
  line-height: 23rem;
  text-indent: -4.3rem;
  font-style: normal;
  font-weight: 400;
  background-color: rgba(233, 180, 163, 0.4);
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.advantages {
  padding: 40rem 0;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 35rem;
  font-size: 16rem;
  line-height: normal;
  font-style: italic;
  color: #191e27;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item-pic {
  width: 70rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 16rem;
}
.advantages__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.ad {
  display: block;
  position: relative;
  margin: 0 0 40rem;
}
.ad:last-child {
  margin-bottom: 0;
}
.ad__img {
  display: block;
  width: 100%;
}
.ad__close-btn {
  font-size: 8.5rem;
  width: 1.5em;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  top: 11rem;
  right: 17rem;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16rem;
  margin: 0 -4.5rem;
}
.pagination__number {
  display: inline-block;
  text-decoration: none;
  margin: 4.5rem;
  width: 2.1875em;
  border: 0.0625em solid #bdbdbd;
  border-radius: 0.1875em;
  line-height: 2.0625em;
  text-align: center;
  color: #828282;
}
.pagination__number--active {
  color: #191e27;
  border-color: #191e27;
  border-width: 0.125em;
  line-height: 1.9375em;
}
.pagination__separ {
  display: inline-block;
  margin: 4.5rem;
}
.catalog {
  padding: 0 0 60rem;
}
.catalog__title {
  font-size: 24rem;
  margin: 0 0 18.6rem;
}
.catalog__title:last-child {
  margin-bottom: 0;
}
.catalog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5rem;
}
.catalog__filter-btn {
  color: #191e27;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 28rem;
}
.catalog__filter-btn:last-child {
  margin-bottom: 0;
}
.catalog__filter-btn i {
  color: #333333;
  vertical-align: middle;
}
.catalog__pagination {
  margin-top: 20rem;
}
.catalog__loader {
  display: block;
  margin: 30rem auto 0;
}
.page-head {
  border-bottom: 1rem solid #E0E0E0;
  min-height: 47rem;
  padding: 0 0 6.6rem;
}
.page-head--clip-border {
  border-color: transparent;
  position: relative;
}
.page-head--clip-border:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 20rem;
  width: calc(100% - 40rem);
  border-bottom: 1rem solid #E0E0E0;
}
.page-head--no-border {
  border-bottom: none;
}
.page-head__title {
  margin: 0 0 17rem;
}
.page-head__title:last-child {
  margin-bottom: 0;
}
.page-head__nav-link {
  display: block;
  text-decoration: none;
  color: #191e27;
  margin: 0 0 12rem;
}
.page-head__nav-link:before,
.page-head__nav-link:after {
  font-family: icomoon;
  font-weight: 400;
  font-size: 70%;
  color: #333;
}
.page-head__nav-link:after {
  content: '\e904';
  margin-left: .5em;
}
.favourites-btn {
  display: inline-block;
  font-size: 12rem;
  width: 2.66666667em;
  height: 2.66666667em;
  line-height: 2.66666667;
  font-family: icomoon;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0.16666667em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.16666667em 0.5em rgba(0, 0, 0, 0.15);
  color: #191E27;
  text-align: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.favourites-btn:before {
  content: '\e91d';
}
.favourites-btn--active {
  color: #191e27;
}
.favourites-btn--active:before {
  content: '\e91c';
}
.favourites-btn--small {
  font-size: 8rem;
}
.gift-card {
  width: 130rem;
  margin: 0 10rem 15rem;
  font-size: 9.3rem;
  color: #191e27;
}
.gift-card__pic {
  position: relative;
  height: 190rem;
  margin: 0 0 14rem;
}
.gift-card__pic img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gift-card__favourites {
  position: absolute;
  top: 6.66rem;
  right: 6.66rem;
}
.gift-card__title {
  color: #4F4F4F;
  font-family: Georgia, times;
  font-style: italic;
  font-size: inherit;
  line-height: 1.36;
  margin: 0 0 0.85744909em;
}
.gift-card__title:last-child {
  margin-bottom: 0;
}
.gift-card__price {
  margin: 0 0 1.07526882em;
  font-weight: 400;
}
.gift-card__price:last-child {
  margin-bottom: 0;
}
.gift-cards {
  padding: 12rem 0 80rem;
}
.gift-cards__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10rem;
}
.card-page {
  padding: 30rem 0 60rem;
}
.card-page__pic {
  border: 1rem solid #E7E7E7;
  border-radius: 3rem;
  padding: 45rem 37rem;
  margin: 0 0 47rem;
}
.card-page__pic:last-child {
  margin-bottom: 0;
}
.card-page__pic img {
  display: block;
  width: 100%;
}
.card-page__text {
  margin: 0 0 40rem;
}
.card-page__text:last-child {
  margin-bottom: 0;
}
.card-page__text h2 {
  line-height: 1.48;
  margin: 0 0 .9em;
}
.card-page__text h2:last-child {
  margin-bottom: 0;
}
.card-page__btn {
  margin: 0 0 13rem;
}
.card-page__btn:last-child {
  margin-bottom: 0;
}
.brands {
  padding: 30rem 0;
}
.brands__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10rem;
}
.brand {
  padding: 22rem 0 27rem;
}
.brand:last-child {
  padding-bottom: 90rem;
}
.brand__pic {
  background-color: #fff;
  border-radius: 3rem;
  padding: 39rem 37rem;
  -webkit-box-shadow: 0 14rem 24rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 14rem 24rem rgba(0, 0, 0, 0.06);
  margin: 0 0 36rem;
}
.brand__pic:last-child {
  margin-bottom: 0;
}
.brand__pic img {
  display: block;
  width: 100%;
}
.brand__text {
  margin: 0 0 27rem;
}
.brand__text:last-child {
  margin-bottom: 0;
}
.brand__text h2 {
  line-height: 1.47;
}
.categories {
  padding: 0 0 27rem;
}
.categories:last-child {
  padding: 0 0 90rem;
}
.categories__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10rem;
}
.categories__item {
  width: 130rem;
  margin: 0 10rem 30rem;
}
.categories__item-img {
  display: block;
  width: 100%;
  height: 190.67rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 0 0 9.67rem;
}
.categories__item-title {
  font-family: Georgia, times;
  font-size: 14rem;
  font-weight: 400;
  font-style: italic;
  color: #4F4F4F;
  line-height: 1.36;
}
.gallery {
  padding: 0 0 35rem;
}
.gallery__title {
  margin: 0 0 .75em;
}
.gallery__title:last-child {
  margin-bottom: 0;
}
.gallery__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5rem;
}
.gallery__item {
  display: block;
  width: 135rem;
  margin: 0 5rem 10rem;
}
.gallery__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery__loader {
  display: block;
  margin: 25rem auto 0;
}
.discount {
  position: relative;
  padding: 0 0 30rem;
}
.discount:before {
  content: '';
  display: block;
  border-bottom: 1rem solid #E0E0E0;
  width: calc(100% - 40rem);
  position: absolute;
  bottom: 0;
  left: 20rem;
}
.discount:last-child:before {
  display: none;
}
.discount__img {
  display: block;
  width: 100%;
  margin: 0 0 21rem;
  -webkit-filter: drop-shadow(0 4rem 12rem rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0 4rem 12rem rgba(0, 0, 0, 0.06));
}
.discount__img:last-child {
  margin-bottom: 0;
}
.discount__chars {
  width: auto;
  line-height: normal;
}
.discount__chars td,
.discount__chars th {
  border: none;
  padding: 5rem 7rem;
}
.discount__chars td:first-child,
.discount__chars th:first-child {
  padding-left: 0;
}
.discount__chars td:last-child,
.discount__chars th:last-child {
  padding-right: 0;
}
.discount__chars th {
  color: #828282;
}
.footer {
  padding: 15rem 0;
  font-size: 12rem;
  color: #B3B3B3;
  background-color: #F3F3F3;
  text-align: right;
}
.footer__logo {
  display: inline-block;
  vertical-align: middle;
  width: 90rem;
}
.footer__logo img {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */