*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.unlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  padding: 15.625vw 0 0;
  min-height: 100vh;
  color: #828282;
  font-family: Montserrat, sans-serif;
  font-size: 4.375vw;
  line-height: 1.56;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
p {
  margin: 0 0 2.14285714em;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: #191e27;
}
img,
video,
iframe {
  vertical-align: top;
  max-width: 100%;
}
h1,
h2 {
  font-weight: bold;
  line-height: normal;
  font-style: italic;
  font-family: Georgia, sans-serif;
  color: #191e27;
}
h1 {
  font-size: 7.5vw;
  margin: 0 0 1.25em;
}
h1:last-child {
  margin-bottom: 0;
}
h2 {
  font-size: 6.25vw;
  margin: 0 0 1.3em;
}
h2:last-child {
  margin-bottom: 0;
}
h3 {
  font-size: 4.375vw;
  line-height: normal;
  font-weight: bold;
  margin: 0 0 1em;
}
h3:last-child {
  margin-bottom: 0;
}
[type=text],
[type=tel],
[type=email],
[type=password],
[type=url],
textarea {
  display: block;
  width: 100%;
  font-size: 4.375vw;
  line-height: normal;
  border: 0.3125vw solid #bdbdbd;
  border-radius: 0.9375vw;
  padding: 3.4375vw 5.625vw;
  margin: 0 0 3.4375vw;
  color: #191e27;
}
[type=text]:focus,
[type=tel]:focus,
[type=email]:focus,
[type=password]:focus,
[type=url]:focus,
textarea:focus {
  outline: none;
  border-color: #191e27;
}
.wrapper {
  padding: 0 6.25vw;
}
@media (orientation: landscape) {
  body {
    padding: 15.625vh 0 0;
    font-size: 4.375vh;
  }
  h1 {
    font-size: 7.5vh;
  }
  h2 {
    font-size: 6.25vh;
  }
  h3 {
    font-size: 4.375vh;
  }
  [type=text],
  [type=tel],
  [type=email],
  [type=password],
  [type=url],
  textarea {
    font-size: 4.375vh;
    border: 0.3125vh solid #bdbdbd;
    border-radius: 0.9375vh;
    padding: 3.4375vh 5.625vh;
    margin: 0 0 3.4375vh;
  }
  .wrapper {
    padding: 0 6.25vh;
  }
}
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  border: 0.3125vw solid #191e27;
  vertical-align: top;
  padding: 0 7.5vw;
  background-color: #191e27;
  color: #fff;
  font-size: 5vw;
  font-weight: 500;
  line-height: 15.625vw;
  text-align: center;
  border-radius: 0.9375vw;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn--cart:before {
  content: '\e911';
  font-family: icomoon;
  font-size: 1.1875em;
  vertical-align: bottom;
  margin: 0 0.8125em 0 -0.625em;
}
.btn--block {
  display: block;
  width: 100%;
  padding: 0 3.125vw;
}
@media (orientation: landscape) {
  .btn {
    border: 0.3125vh solid #191e27;
    font-size: 5vh;
    line-height: 15.625vh;
    border-radius: 0.9375vh;
    padding: 0 7.5vh;
  }
  .btn--block {
    padding: 0 3.125vh;
  }
}
.header {
  padding: 3.178125vw 0;
  background-color: #fff;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 0.9375vw 0.9375vw rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.9375vw 0.9375vw rgba(0, 0, 0, 0.15);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-btn {
  font-size: 6.25vw;
  color: #191E27;
}
.header__logo {
  display: inline-block;
  width: 9.0625vw;
  max-width: 100%;
  margin: 0 0 0 3.575vw;
}
.header__logo--alt {
  width: 27.8125vw;
  margin-right: auto;
}
.header__logo img {
  display: block;
  width: 100%;
}
.header__tool {
  color: #828282;
  margin: 0 0 0 5.9375vw;
  text-decoration: none;
}
.header__tool--active {
  color: #191e27;
}
@media (orientation: landscape) {
  .header {
    padding: 3.178125vh 0;
    -webkit-box-shadow: 0 0.9375vh 0.9375vh rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.9375vh 0.9375vh rgba(0, 0, 0, 0.15);
  }
  .header__menu-btn {
    font-size: 6.25vh;
  }
  .header__logo {
    width: 9.0625vh;
    margin: 0 0 0 3.575vh;
  }
  .header__logo--alt {
    width: 27.8125vh;
    margin-right: auto;
  }
  .header__tool {
    margin: 0 0 0 5.9375vh;
  }
}
.breadcrumbs {
  padding: 6.875vw 0 9.375vw;
  overflow: auto;
  white-space: nowrap;
  font-size: 3.75vw;
  line-height: normal;
  color: #BDBDBD;
}
.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.breadcrumbs__list > li > a {
  color: inherit;
  text-decoration: none;
}
.breadcrumbs__list > li:after {
  content: '\e90d';
  font-size: 0.83333333em;
  font-family: icomoon;
  margin: 0 1em;
}
.breadcrumbs__list > li:last-child:after {
  visibility: hidden;
}
@media (orientation: landscape) {
  .breadcrumbs {
    padding: 6.875vh 0 9.375vh;
    font-size: 3.75vh;
  }
}
.blog {
  padding: 0 0 21.875vw;
}
.blog__loader {
  display: block;
  margin: 0 auto;
  width: 8.75vw;
}
.post-card {
  margin: 0 0 12.5vw;
}
.post-card:last-child {
  margin-bottom: 0;
}
.post-card__date {
  color: #828282;
  margin: 0 0 1.07142857em;
}
.post-card__img {
  display: block;
  width: 100%;
  margin: 0 0 6.25vw;
}
.post-card__text {
  margin: 0 0 6.25vw;
}
.post-card__text:last-child {
  margin-bottom: 0;
}
.post-card__title {
  margin: 0 0 6.25vw;
}
.post-card__title:last-child {
  margin-bottom: 0;
}
.post-card__link {
  color: #333333;
}
@media (orientation: landscape) {
  .blog {
    padding: 0 0 21.875vh;
  }
  .blog__loader {
    width: 8.75vh;
  }
  .post-card {
    margin: 0 0 12.5vh;
  }
  .post-card__img {
    margin: 0 0 6.25vh;
  }
  .post-card__text {
    margin: 0 0 6.25vh;
  }
  .post-card__title {
    margin: 0 0 6.25vh;
  }
}
.post {
  padding: 0 0 21.875vw;
}
.post__date {
  color: #828282;
  margin: 0 0 2.14285714em;
}
.post__btn {
  margin: 0 0 12.5vw;
}
.post__btn:last-child {
  margin-bottom: 0;
}
@media (orientation: landscape) {
  .post {
    padding: 0 0 21.875vh;
  }
  .post__btn {
    margin: 0 0 12.5vh;
  }
}
.banner {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 110.3125vw;
  padding: 12.1875vw 0;
}
.banner__title {
  font-size: 7.5vw;
  color: inherit;
}
.banner__logo {
  display: block;
  width: 100%;
  margin-left: -4.6875vw;
}
@media (orientation: landscape) {
  .banner {
    min-height: 110.3125vh;
    padding: 12.1875vh 0;
  }
  .banner__title {
    font-size: 7.5vh;
  }
  .banner__logo {
    margin-left: -4.6875vh;
  }
}
.shop-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #191e27;
}
.shop-menu > li {
  border-bottom: 0.3125vw solid #e0e0e0;
}
.shop-menu > li > a {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 6.25vw 12.5vw 6.25vw 6.25vw;
}
.shop-menu > li > a:after {
  content: '\e905';
  font-family: icomoon;
  line-height: 1;
  display: inline-block;
  font-size: 6.25vw;
  color: #BDBDBD;
  position: absolute;
  right: 6.25vw;
  top: calc(50% - .5em);
}
@media (orientation: landscape) {
  .shop-menu > li {
    border-bottom: 0.3125vh solid #e0e0e0;
  }
  .shop-menu > li > a {
    padding: 6.25vh 12.5vh 6.25vh 6.25vh;
  }
  .shop-menu > li > a:after {
    font-size: 6.25vh;
    right: 6.25vh;
  }
}
.actions {
  padding: 9.375vw 0;
}
.actions__item {
  margin: 0 0 9.375vw;
  font-size: 3.75vw;
  line-height: normal;
  color: #191e27;
}
.actions__item:last-child {
  margin-bottom: 0;
}
.actions__item-img {
  display: block;
  width: 100%;
  margin: 0 0 3.125vw;
}
.actions__item-title {
  margin: 0 0 0.46875vw;
}
.actions__item-title:last-child {
  margin-bottom: 0;
}
@media (orientation: landscape) {
  .actions {
    padding: 9.375vh 0;
  }
  .actions__item {
    margin: 0 0 9.375vh;
    font-size: 3.75vh;
  }
  .actions__item-img {
    margin: 0 0 3.125vh;
  }
  .actions__item-title {
    margin: 0 0 0.46875vh;
  }
}
.good-card {
  width: 40.625vw;
  margin: 0 1.5625vw 9.375vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.good-card__head {
  position: relative;
  margin: 0 0 4.0625vw;
}
.good-card__head:last-child {
  margin-bottom: 0;
}
.good-card__info {
  position: absolute;
  bottom: 1.25vw;
  right: -1.5625vw;
}
.good-card__label {
  display: block;
  border-radius: 100vw;
  font-size: 2.8125vw;
  border: 0.3125vw solid #191e27;
  line-height: normal;
  padding: 0.9375vw 2.5vw;
  font-weight: bold;
  color: #fff;
  background-color: #191e27;
  text-align: center;
  margin: 0 0 1.5625vw;
}
.good-card__label:last-child {
  margin-bottom: 0;
}
.good-card__label--white {
  background-color: #fff;
  font-weight: 500;
  color: #191e27;
}
.good-card__img {
  display: block;
  width: 100%;
}
.good-card__title {
  font-size: inherit;
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-weight: inherit;
  color: #4F4F4F;
  line-height: normal;
  margin: 0 0 1.25vw;
  padding-right: .2em;
}
.good-card__title:last-child {
  margin-bottom: 0;
}
.good-card__category {
  font-size: 3.75vw;
  line-height: normal;
  color: #BDBDBD;
}
.good-card__main {
  margin: 0 0 2.5vw;
}
.good-card__main:last-child {
  margin-bottom: 0;
}
.good-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.good-card__price {
  display: inline-block;
  color: #191e27;
  font-size: 3.75vw;
  line-height: normal;
  padding: 1.25vw 0;
  margin: 0 2.1875vw 0 0;
}
.good-card__price--new {
  padding-left: 2.1875vw;
  padding-right: 2.1875vw;
  border-radius: 3.125vw;
  color: #fff;
  background-color: #E9B4A3;
}
.good-card__price--old {
  text-decoration: line-through;
}
@media (orientation: landscape) {
  .good-card {
    width: 40.625vh;
    margin: 0 1.5625vh 9.375vh;
  }
  .good-card__head {
    margin: 0 0 4.0625vh;
  }
  .good-card__info {
    bottom: 1.25vh;
    right: -1.5625vh;
  }
  .good-card__label {
    border-radius: 100vh;
    font-size: 2.8125vh;
    border: 0.3125vh solid #191e27;
    padding: 0.9375vh 2.5vw;
    margin: 0 0 1.5625vh;
  }
  .good-card__title {
    margin: 0 0 1.25vh;
  }
  .good-card__category {
    font-size: 3.75vh;
  }
  .good-card__main {
    margin: 0 0 2.5vh;
  }
  .good-card__price {
    font-size: 3.75vh;
    line-height: normal;
    padding: 1.25vh 0;
    margin: 0 2.1875vh 0 0;
  }
  .good-card__price--new {
    padding-left: 2.1875vh;
    padding-right: 2.1875vh;
    border-radius: 3.125vh;
  }
}
.category-block {
  padding: 6.25vw 0 0;
}
.category-block__head {
  font-size: 3.75vw;
  color: #828282;
  line-height: normal;
  margin: 0 0 7.8125vw;
}
.category-block__title {
  font-size: 9.375vw;
  margin: 0 0 1.25vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding-right: 12.5vw;
  position: relative;
  word-wrap: break-word;
  color: #333333;
}
.category-block__title:last-child {
  margin-bottom: 0;
}
.category-block__title:after {
  content: '\e90e';
  display: inline-block;
  color: #191e27;
  width: 7.1875vw;
  height: 7.1875vw;
  border-radius: 50%;
  font-family: icomoon;
  font-size: 5.3125vw;
  line-height: 7.1875vw;
  text-indent: -1.34375vw;
  font-style: normal;
  font-weight: 400;
  background-color: rgba(233, 180, 163, 0.4);
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.category-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 -6.25vw;
  padding: 0 6.25vw;
  overflow: auto;
}
@media (orientation: landscape) {
  .category-block {
    padding: 6.25vh 0 0;
  }
  .category-block__head {
    font-size: 3.75vh;
    margin: 0 0 7.8125vh;
  }
  .category-block__title {
    font-size: 9.375vh;
    margin: 0 0 1.25vh;
    padding-right: 12.5vh;
  }
  .category-block__title:after {
    width: 7.1875vh;
    height: 7.1875vh;
    font-size: 5.3125vh;
    line-height: 7.1875vh;
    text-indent: -1.34375vh;
  }
  .category-block__content {
    margin: 0 -6.25vh;
    padding: 0 6.25vh;
  }
}
.brand-card {
  width: 56.25vw;
  height: 32.8125vw;
  border-radius: 0.9375vw;
  -webkit-box-shadow: 0 0.3125vw 1.25vw rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.3125vw 1.25vw rgba(0, 0, 0, 0.15);
  margin: 0 3.125vw 4.6875vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}
.brand-card img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 70%;
  max-height: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (orientation: landscape) {
  .brand-card {
    width: 56.25vh;
    height: 32.8125vh;
    border-radius: 0.9375vh;
    -webkit-box-shadow: 0 0.3125vh 1.25vh rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.3125vh 1.25vh rgba(0, 0, 0, 0.15);
    margin: 0 3.125vh 4.6875vh;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.brands-block {
  padding: 9.375vw 0;
}
.brands-block__title {
  font-size: 9.375vw;
  margin: 0 0 0.8em;
  color: #333;
}
.brands-block__title:last-child {
  margin-bottom: 0;
}
.brands-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -6.25vw;
  padding: 0.625vw 3.125vw 0;
  overflow: auto;
}
@media (orientation: landscape) {
  .brands-block {
    padding: 9.375vh 0;
  }
  .brands-block__title {
    font-size: 9.375vh;
  }
  .brands-block__content {
    margin: 0 -6.25vh;
    padding: 0.625vh 3.125vh 0;
  }
}
.subscribe {
  padding: 9.375vw 0;
  color: #707070;
  font-size: 3.75vw;
  line-height: 1.463;
}
.subscribe__title {
  color: #333;
  font-size: 9.375vw;
  margin: 0 0 5.625vw;
}
.subscribe__title:last-child {
  margin-bottom: 0;
}
.subscribe__text {
  margin: 0 0 6.25vw;
}
.subscribe__text:last-child {
  border-bottom: 0;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-right: none;
  margin: 0;
  border-radius: 1.5625vw 0 0 1.5625vw;
}
.subscribe__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #191e27;
  border: none;
  border-radius: 0 1.5625vw 1.5625vw 0;
  color: #fff;
  width: 15.625vw;
  line-height: 15.625vw;
  font-size: 7.1875vw;
  padding: 0;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (orientation: landscape) {
  .subscribe {
    padding: 9.375vh 0;
    font-size: 3.75vh;
  }
  .subscribe__title {
    font-size: 9.375vh;
    margin: 0 0 5.625vh;
  }
  .subscribe__text {
    margin: 0 0 6.25vh;
  }
  .subscribe__input {
    border-radius: 1.5625vh 0 0 1.5625vh;
  }
  .subscribe__btn {
    border-radius: 0 1.5625vh 1.5625vh 0;
    width: 15.625vh;
    line-height: 15.625vh;
    font-size: 7.1875vh;
  }
}
.about-block {
  padding: 12.5vw 0;
  color: #707070;
  font-size: 3.75vw;
  line-height: 1.463;
}
.about-block__title {
  font-size: 9.375vw;
  margin: 0 0 5.3125vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding-right: 12.5vw;
  position: relative;
  word-wrap: break-word;
  color: #333333;
}
.about-block__title:last-child {
  margin-bottom: 0;
}
.about-block__title:after {
  content: '\e90e';
  display: inline-block;
  color: #191e27;
  width: 7.1875vw;
  height: 7.1875vw;
  border-radius: 50%;
  font-family: icomoon;
  font-size: 5.3125vw;
  line-height: 7.1875vw;
  text-indent: -1.34375vw;
  font-style: normal;
  font-weight: 400;
  background-color: rgba(233, 180, 163, 0.4);
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (orientation: landscape) {
  .about-block {
    padding: 12.5vh 0;
    font-size: 3.75vh;
  }
  .about-block__title {
    font-size: 9.375vh;
    margin: 0 0 5.3125vh;
    padding-right: 12.5vh;
  }
  .about-block__title:after {
    width: 7.1875vh;
    height: 7.1875vh;
    font-size: 5.3125vh;
    line-height: 7.1875vh;
    text-indent: -1.34375vh;
  }
}
.advantages {
  padding: 12.5vw 0;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10.9375vw;
  font-size: 5vw;
  line-height: normal;
  font-style: italic;
  color: #191e27;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item-pic {
  width: 21.875vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 5vw;
}
.advantages__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (orientation: landscape) {
  .advantages {
    padding: 12.5vh 0;
  }
  .advantages__item {
    margin: 0 0 10.9375vh;
    font-size: 5vh;
  }
  .advantages__item-pic {
    width: 21.875vh;
    padding-right: 5vh;
  }
}
.ad {
  display: block;
  position: relative;
  margin: 0 0 12.5vw;
}
.ad:last-child {
  margin-bottom: 0;
}
.ad__img {
  display: block;
  width: 100%;
}
.ad__close-btn {
  font-size: 2.65625vw;
  width: 1.5em;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  top: 3.4375vw;
  right: 5.3125vw;
}
@media (orientation: landscape) {
  .ad {
    margin: 0 0 12.5vh;
  }
  .ad__close-btn {
    font-size: 2.65625vh;
    top: 3.4375vh;
    right: 5.3125vh;
  }
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 5vw;
  margin: 0 -1.40625vw;
}
.pagination__number {
  display: inline-block;
  text-decoration: none;
  margin: 1.40625vw;
  width: 2.1875em;
  border: 0.0625em solid #bdbdbd;
  border-radius: 0.1875em;
  line-height: 2.0625em;
  text-align: center;
  color: #828282;
}
.pagination__number--active {
  color: #191e27;
  border-color: #191e27;
  border-width: 0.125em;
  line-height: 1.9375em;
}
.pagination__separ {
  display: inline-block;
  margin: 1.40625vw;
}
@media (orientation: landscape) {
  .pagination {
    font-size: 5vh;
    margin: 0 -1.40625vh;
  }
  .pagination__number {
    margin: 1.40625vh;
  }
  .pagination__separ {
    margin: 1.40625vh;
  }
}
.catalog {
  padding: 0 0 18.75vw;
}
.catalog__title {
  font-size: 7.5vw;
  margin: 0 0 5.8125vw;
}
.catalog__title:last-child {
  margin-bottom: 0;
}
.catalog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1.5625vw;
}
.catalog__filter-btn {
  color: #191e27;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 8.75vw;
}
.catalog__filter-btn:last-child {
  margin-bottom: 0;
}
.catalog__filter-btn i {
  color: #333333;
  vertical-align: middle;
}
.catalog__pagination {
  margin-top: 6.25vw;
}
@media (orientation: landscape) {
  .catalog {
    padding: 0 0 18.75vh;
  }
  .catalog__title {
    font-size: 7.5vh;
    margin: 0 0 5.8125vh;
  }
  .catalog__content {
    margin: 0 -1.5625vh;
  }
  .catalog__filter-btn {
    margin: 0 0 8.75vh;
  }
  .catalog__pagination {
    margin-top: 6.25vh;
  }
}
.footer {
  padding: 4.6875vw 0;
  font-size: 3.75vw;
  color: #B3B3B3;
  background-color: #F3F3F3;
  text-align: right;
}
.footer__logo {
  display: inline-block;
  vertical-align: middle;
  width: 28.125vw;
}
.footer__logo img {
  display: block;
  width: 100%;
}
@media (orientation: landscape) {
  .footer {
    padding: 4.6875vh 0;
    font-size: 3.75vh;
  }
  .footer__logo {
    width: 28.125vh;
  }
}
/*# sourceMappingURL=style.css.map */