@black: #191E27;
@text: #828282;

*,*:before,*:after{
	box-sizing: inherit;
}
.unlist{
	list-style: none;
	padding: 0;
	margin: 0;
}
html{
	box-sizing: border-box;
	/*для простого использования rem в качестве относительной единицы измерения вместо px*/
	/*макет отрисован на 320px ширины, в таком случае 1rem для удобства соответствует 1px в макете*/
	font-size: 1vw/3.2;
}
body{
	margin: 0;
	padding: 50rem 0 0;
	min-height: 100vh;
	color: @text;
	font-family: Montserrat,sans-serif;
	font-size: 14rem;
	line-height: 1.56;
	font-weight: 500;
	display: flex;
	flex-direction: column;
}
main{
	flex: 1 1 auto;
}
p{
	margin: 0 0 30em/14;
	&:last-child{
		margin-bottom: 0;
	}
}
a{
	color: @black;
}
img,video,iframe{
	vertical-align: top;
	max-width: 100%;
}
h1,h2{
	font-weight: bold;
	line-height: normal;
	font-style: italic;
	font-family: Georgia,sans-serif;
	color: @black;
}
h1{
	font-size: 24rem;		
	margin: 0 0 30em/24;
	&:last-child{
		margin-bottom: 0;
	}
}
h2{
	font-size: 20rem;
	margin: 0 0 26em/20;
	&:last-child{
		margin-bottom: 0;
	}
}
h3{
	font-size: 14rem;
	line-height: normal;
	font-weight: bold;
	margin: 0 0 1em;
	&:last-child{
		margin-bottom: 0;
	}
}
[type=text],
[type=tel],
[type=email],
[type=password],
[type=url],
textarea{
	display: block;
	width: 100%;
	font-size: 14rem;
	line-height: normal;
	border: 1rem solid #BDBDBD;
	border-radius: 3rem;
	padding: 11rem 18rem;
	margin: 0 0 11rem;
	color: @black;
	&:focus{
		outline: none;
		border-color: @black;
	}
}
.wrapper{
	padding: 0 20rem;
}
@media(orientation: landscape){
	html{
		font-size: 1vh/3.2;
	}
}

@import "blocks/_buttons";
@import "blocks/_header";
@import "blocks/_breadcrumbs";
@import "blocks/_blog";
@import "blocks/_post";
@import "blocks/_banner";
@import "blocks/_shop-menu";
@import "blocks/_actions";
@import "blocks/_good-card";
@import "blocks/_category-block";
@import "blocks/_brand-card";
@import "blocks/_brands-block";
@import "blocks/_subscribe";
@import "blocks/_about";
@import "blocks/_advantages";
@import "blocks/_ad";
@import "blocks/_pagination";
@import "blocks/_catalog";
@import "blocks/_page-head";
@import "blocks/_favourites-btn";
@import "blocks/_gift-card";
@import "blocks/_gift-cards";
@import "blocks/_card-page";
@import "blocks/_brands-page";
@import "blocks/_brand-page";
@import "blocks/_categories";
@import "blocks/_footer";