.about-block{
	padding: 40rem 0;
	color: #707070;
	font-size: 12rem;
	line-height: 1.463;
	&__title{
		position: relative;
		font-size: 30rem;
		margin: 0 0 17rem;
		width: max-content;
		max-width: 100%;
		padding-right: 40rem;
		position: relative;
		word-wrap: break-word;
		color: #333333;
		&:last-child{
			margin-bottom: 0;
		}
		&:after{
			content: '\e90e';
			display: inline-block;
			color: @black;
			width: 23rem;
			height: 23rem;
			border-radius: 50%;
			font-family: icomoon;
			font-size: 17rem;
			line-height: 23rem;
			text-indent: -4.3rem;
			font-style: normal;
			font-weight: 400;
			background-color: fade(#E9B4A3,40%);
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}