.actions{
	padding: 30rem 0;
	&__item{
		margin: 0 0 30rem;
		font-size: 12rem;
		line-height: normal;
		color: @black;
		&:last-child{
			margin-bottom: 0;
		}
		&-img{
			display: block;
			width: 100%;
			margin: 0 0 10rem;
		}
		&-title{
			margin: 0 0 1.5rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
