.banner{
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	color: #fff;
	min-height: 353rem;
	padding: 39rem 0;
	&__title{
		font-size: 24rem;
		color: inherit;
	}
	&__logo{
		display: block;
		width: 100%;
		margin-left: -15rem;
	}
}
