.blog{
	padding: 0 0 40rem;
}
.post-card{
	margin: 0 0 40rem;
	&:last-child{
		margin-bottom: 0;
	}
	&__date{
		color: #828282;
		margin: 0 0 15em/14;
	}
	&__img{
		display: block;
		width: 100%;
		margin: 0 0 20rem;
	}
	&__text{
		margin: 0 0 20rem;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__title{
		margin: 0 0 20rem;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		color: #333333;
	}
}
