.blog{
	padding: 0 0 70vw/3.2;
	&__loader{
		display: block;
		margin: 0 auto;
		width: 28vw/3.2;
	}
}
.post-card{
	margin: 0 0 40vw/3.2;
	&:last-child{
		margin-bottom: 0;
	}
	&__date{
		color: #828282;
		margin: 0 0 15em/14;
	}
	&__img{
		display: block;
		width: 100%;
		margin: 0 0 20vw/3.2;
	}
	&__text{
		margin: 0 0 20vw/3.2;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__title{
		margin: 0 0 20vw/3.2;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		color: #333333;
	}
}
@media(orientation: landscape){
	.blog{
		padding: 0 0 70vh/3.2;
		&__loader{
			width: 28vh/3.2;
		}
	}
	.post-card{
		margin: 0 0 40vh/3.2;
		&__img{
			margin: 0 0 20vh/3.2;
		}
		&__text{
			margin: 0 0 20vh/3.2;
		}
		&__title{
			margin: 0 0 20vh/3.2;
		}
	}
}