.brands-block{
	padding: 30rem 0;
	&__title{
		font-size: 30rem;
		margin: 0 0 24em/30;
		color: #333;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__content{
		display: flex;
		margin: 0 -20rem;
		padding: 2rem 10rem 0;
		overflow: auto;
	}
}
