.btn{
	appearance: none;
	display: inline-block;
	border: 1rem solid @black;
	vertical-align: top;
	padding: 0 24rem;
	background-color: @black;
	color: #fff;
	font-family: Montserrat,sans-serif;
	font-size: 16rem;
	font-weight: 500;
	line-height: 50rem;
	text-align: center;
	border-radius: 3rem;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&--thin{
		background-color: transparent;
		color: @black;
	}
	&--white{
		border-color: #fff;
		background-color: #fff;
		color: @black;
	}
	&--medium{
		line-height: 46rem;
		padding: 0 16rem;
	}
	&--small{
		font-size: 14rem;
		line-height: 38rem;
		padding: 0 1em;
	}
	&--cart{
		&:before{
			content: '\e911';
			font-family: icomoon;
			font-size: 19em/16;
			vertical-align: bottom;
			margin: 0 13em/16 0 -10em/16
		}
	}
	&--heart{
		&:before{
			content: '\e91d';
			font-family: icomoon;
			font-size: 19em/16;
			vertical-align: bottom;
			margin: 0 13em/16 0 -10em/16
		}
	}
	&--next{
		&:after{
			content: '\e90e';
			font-family: icomoon;
			font-size: 17em/16;
			vertical-align: bottom;
			margin: 0 0 0 15em/17
		}
	}
	&--block{
		display: block;
		width: 100%;
		padding: 0 10rem;
	}
}
