.btn{
	appearance: none;
	display: inline-block;
	border: 1rem solid @black;
	vertical-align: top;
	padding: 0 24rem;
	background-color: @black;
	color: #fff;
	font-size: 16rem;
	font-weight: 500;
	line-height: 50rem;
	text-align: center;
	border-radius: 3rem;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&--thin{
		background-color: transparent;
		color: @black;
	}
	&--cart{
		&:before{
			content: '\e911';
			font-family: icomoon;
			font-size: 19em/16;
			vertical-align: bottom;
			margin: 0 13em/16 0 -10em/16
		}
	}
	&--heart{
		&:before{
			content: '\e91d';
			font-family: icomoon;
			font-size: 19em/16;
			vertical-align: bottom;
			margin: 0 13em/16 0 -10em/16
		}
	}
	&--block{
		display: block;
		width: 100%;
		padding: 0 10rem;
	}
}
