.category-block{
	padding: 20rem 0 0;
	&__head{
		font-size: 12rem;
		color: #828282;
		line-height: normal;
		margin: 0 0 25rem;
	}
	&__title{
		position: relative;
		font-size: 30rem;
		margin: 0 0 4rem;
		width: max-content;
		max-width: 100%;
		padding-right: 40rem;
		position: relative;
		word-wrap: break-word;
		color: #333333;
		&:last-child{
			margin-bottom: 0;
		}
		&:after{
			content: '\e90e';
			display: inline-block;
			color: @black;
			width: 23rem;
			height: 23rem;
			border-radius: 50%;
			font-family: icomoon;
			font-size: 17rem;
			line-height: 23rem;
			text-indent: -4.3rem;
			font-style: normal;
			font-weight: 400;
			background-color: fade(#E9B4A3,40%);
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__content{
		display: flex;
		align-items: flex-start;
		margin: 0 -20rem;
		padding: 0 20rem;
		overflow: auto;
	}
}
