.catalog{
	padding: 0 0 60rem;
	&__title{
		font-size: 24rem;
		margin: 0 0 18.6rem;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__content{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5rem;
	}
	&__filter-btn{
		color: @black;
		font-weight: bold;
		line-height: normal;
		margin: 0 0 28rem;
		&:last-child{
			margin-bottom: 0;
		}
		i{
			color: #333333;
			vertical-align: middle;
		}
	}
	&__pagination{
		margin-top: 20rem;
	}
	&__loader{
		margin: 30rem auto 0;
	}
}
