.footer{
	padding: 15rem 0;
	font-size: 12rem;
	color: #B3B3B3;
	background-color: #F3F3F3;
	text-align: right;
	&__logo{
		display: inline-block;
		vertical-align: middle;
		width: 90rem;
		img{
			display: block;
			width: 100%;
		}
	}
}
