.good-card{
	width: 130vw/3.2;
	margin: 0 5vw/3.2 30vw/3.2;
	flex: 0 0 auto;
	&__head{
		position: relative;
		margin: 0 0 13vw/3.2;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__info{
		position: absolute;
		bottom: 4vw/3.2;
		right: -5vw/3.2;
	}
	&__label{
		display: block;
		border-radius: 100vw;
		font-size: 9vw/3.2;
		border: 1vw/3.2 solid @black;
		line-height: normal;
		padding: 3vw/3.2 8vw/3.2;
		font-weight: bold;
		color: #fff;
		background-color: @black;
		text-align: center;
		margin: 0 0 5vw/3.2;
		&:last-child{
			margin-bottom: 0;
		}
		&--white{
			background-color: #fff;
			font-weight: 500;
			color: @black;
		}
	}
	&__img{
		display: block;
		width: 100%;
	}
	&__title{
		font-size: inherit;
		font-family: Georgia,sans-serif;
		font-style: italic;
		font-weight: inherit;
		color: #4F4F4F;
		line-height: normal;
		margin: 0 0 4vw/3.2;
		padding-right: .2em;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__category{
		font-size: 12vw/3.2;
		line-height: normal;
		color: #BDBDBD;
	}
	&__main{
		margin: 0 0 8vw/3.2;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__footer{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__price{
		display: inline-block;
		color: @black;
		font-size: 12vw/3.2;
		line-height: normal;
		padding: 4vw/3.2 0;		
		margin: 0 7vw/3.2 0 0;
		&--new{
			padding-left: 7vw/3.2;
			padding-right: 7vw/3.2;
			border-radius: 10vw/3.2;
			color: #fff;
			background-color: #E9B4A3;
		}
		&--old{
			text-decoration: line-through;
		}
	}
}
@media(orientation: landscape){
	.good-card{
		width: 130vh/3.2;
		margin: 0 5vh/3.2 30vh/3.2;
		&__head{
			margin: 0 0 13vh/3.2;
		}
		&__info{
			bottom: 4vh/3.2;
			right: -5vh/3.2;
		}
		&__label{
			border-radius: 100vh;
			font-size: 9vh/3.2;
			border: 1vh/3.2 solid @black;
			padding: 3vh/3.2 8vw/3.2;
			margin: 0 0 5vh/3.2;
		}
		&__title{
			margin: 0 0 4vh/3.2;
		}
		&__category{
			font-size: 12vh/3.2;
		}
		&__main{
			margin: 0 0 8vh/3.2;
		}
		&__price{
			font-size: 12vh/3.2;
			line-height: normal;
			padding: 4vh/3.2 0;		
			margin: 0 7vh/3.2 0 0;
			&--new{
				padding-left: 7vh/3.2;
				padding-right: 7vh/3.2;
				border-radius: 10vh/3.2;
			}
		}
	}
}