.header{
	padding: 10.17vw/3.2 0;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 3vw/3.2 3vw/3.2 rgba(0, 0, 0, 0.15);
	&__wrapper{
		display: flex;
		align-items: center;
	}
	&__menu-btn{
		font-size: 20vw/3.2;
		color: #191E27;
	}
	&__logo{
		display: inline-block;
		width: 29vw/3.2;
		max-width: 100%;
		margin: 0 0 0 11.44vw/3.2;
		&--alt{
			width: 89vw/3.2;
			margin-right: auto;
		}
		img{
			display: block;
			width: 100%;
		}
	}
	&__tool{
		color: #828282;
		margin: 0 0 0 19vw/3.2;
		text-decoration: none;
		&--active{
			color: @black;
		}
	}
}