.pagination{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 16vw/3.2;
	margin: 0 -4.5vw/3.2;
	&__number{
		display: inline-block;
		text-decoration: none;
		margin: 4.5vw/3.2;
		width: 35em/16;
		border: 1em/16 solid #BDBDBD;
		border-radius: 3em/16;
		line-height: 33em/16;
		text-align: center;
		color: #828282;
		&--active{
			color: @black;
			border-color: @black;
			border-width: 2em/16*1;
			line-height: 31em/16*1
		}		
	}
	&__separ{
		display: inline-block;
		margin: 4.5vw/3.2;
	}
}
@media(orientation: landscape){
	.pagination{
		font-size: 16vh/3.2;
		margin: 0 -4.5vh/3.2;
		&__number{
			margin: 4.5vh/3.2;
		}
		&__separ{
			margin: 4.5vh/3.2;
		}
	}
}